section {
  font-family: Helvetica, sans-serif;
  background-color: #add8e6;
  padding: 15px;
}

span.total {
  font-size: 16px;
  font-weight: normal;
}

button { font-size: 14px; }

ul { font-size: 20px; }
